USE [ERP]
GO
/****** Object:  StoredProcedure [dbo].[cmn_SPGetAllActiveWorkspaceUnderParentWorkSpace]    Script Date: 2/2/2026 3:54:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[cmn_SPGetAllActiveWorkspaceUnderParentWorkSpace] 
(
    @employeeId UNIQUEIDENTIFIER,
    @permissionType INT
)
AS
BEGIN
    SET NOCOUNT ON;

    /* =========================================================
       VIEW CLIENT ROLE
       permissionType = 2  → show ALL active workspaces
       ========================================================= */
    IF (@permissionType = 2)
    BEGIN
        SELECT 
            WorkSpaceId AS Id,
            (WorkSpaceCode + '-' + WorkSpaceName) AS Text
        FROM [ERP].[dbo].[cmn_WorkSpace]
        WHERE IsActive = 1
        ORDER BY Text;

        RETURN;
    END

    /* =========================================================
       NORMAL USER
       Recursive hierarchy based on employee
       (YOUR ORIGINAL LOGIC – UNCHANGED)
       ========================================================= */
    ;WITH ret AS
    (
        -- Base level: employee root workspaces
        SELECT *
        FROM [ERP].[dbo].[cmn_WorkSpace]
        WHERE WorkSpaceId IN
        (
            SELECT WorkSpaceId
            FROM cmn_EmployeeVersion
            WHERE EmployeeId = @employeeId
        )

        UNION ALL

        -- Recursive: child workspaces
        SELECT t.*
        FROM [ERP].[dbo].[cmn_WorkSpace] t
        INNER JOIN ret r
            ON t.ParentWorkSpaceId = r.WorkSpaceId
    )
    SELECT DISTINCT
        WorkSpaceId AS Id,
        (WorkSpaceCode + '-' + WorkSpaceName) AS Text
    FROM ret
    WHERE IsActive = 1
    ORDER BY Text
    OPTION (MAXRECURSION 32767);
END
