USE [ERP]
GO
/****** Object:  StoredProcedure [dbo].[prc_SPGetSubCategoryItemType]    Script Date: 12/24/2025 9:00:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- EXEC [prc_SPGetSubCategoryItemType] '0145590a-466b-43a3-8736-ed7a88555a90'

ALTER PROCEDURE [dbo].[prc_SPGetSubCategoryItemType] 
    	@ItemId				UNIQUEIDENTIFIER
AS
BEGIN
    SELECT CASE WHEN SUBCAT.IsStock = 1 THEN '09f1cfc3-f075-4b3c-a3e7-a3772f672f53' END AS Value, 'Stock' AS Types
	INTO #T
    FROM sms_ItemVersion ITMV
    INNER JOIN sms_ItemSubCategory SUBCAT WITH (NOLOCK) ON ITMV.ItemSubCategoryId = SUBCAT.ItemSubCategoryId
    WHERE ITMV.ItemId = @ItemId

    UNION ALL
    SELECT CASE WHEN SUBCAT.IsServiceEquipment = 1 THEN 'e1eb553c-00f7-41ed-9dc6-c69bcbbf0b7e' END, 'Service Equipment' AS Types
    FROM sms_ItemVersion ITMV
    INNER JOIN sms_ItemSubCategory SUBCAT WITH (NOLOCK) ON ITMV.ItemSubCategoryId = SUBCAT.ItemSubCategoryId
    WHERE ITMV.ItemId = @ItemId

	SELECT * FROM #T WHERE VALUE IS NOT NULL

END